
<div class="row">
	<div class="col-xs-12 text-center">
		<h3>You are redirect to payment gateway. Please wait...</h3>
		<i class="fa-li fa fa-spinner fa-spin fa-3x"></i>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 text-center">
		<div class="action-container">
			<div class="action-symbol">
				<i class="fa fa-exclamation-circle" aria-hidden="true"></i>
			</div>
			<div class="action-desc">
				<p>{{tr_paypal_message}}</br>{{paymentData.paymentID}}</p>
				<p>{{exchangeMessage}}</p>
		
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	window.location.replace("{{paymentData.approvalUrl}}");
</script>

