<div id="wp-rengine-loader" class="hidden">
	<i class="fa fa-circle-o-notch fa-spin-fast fa-3x fa-fw"> </i><span class="sr-only">loading...</span>        
</div>
<div class="form-container wprengine-form">
	{% if type == "appointments" %}
		{% include '@WPRengine/front/booking-appointment-form.twig' %}
	{% elseif type == "hotels" %}
		{% include '@WPRengine/front/booking-hotels-form.twig' %}
	{% elseif type == "transfers" %}
		{% include '@WPRengine/front/booking-transfers-form.twig' %}
	{% elseif type == "rentals-modern" %}
		{% include '@WPRengine/front/booking-rentals-form.twig' %}
	{% else %}
		{% include '@WPRengine/front/booking-rentals-old-form.twig' %}
	{% endif %}
	<input type="hidden" value="{{googleKey}}" id="googleKey"/>
</div>
	


